@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Montserrat', 'sans-serif';
}

main {
    display: flex;
    justify-content: center;
    gap: 5%;
}

h2 {
    font-size: 4em;
    margin-left: auto;
    text-align: center;
}

button {
    width: 7%;
}

.score {
    margin-top: 4rem;
    text-align: center;
}